{% extends 'base.html' %}

{% block content %}

<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>

    <h1><b>Clientes Disponibles</b></h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    {% for cliente in clientes %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{ cliente.id }}</h5> 
                <p class="card-text">{{ cliente.nombre }}</p>
                
                <a href="/cliente/{{ cliente.id }}/" class="card-link">Detalle</a>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <a class="btn btn-secondary btn-lg" href="/cliente/create/" role="button" style="background-color:#204d74;">Agregar Cliente</a>
    <a class="btn btn-secondary btn-lg" href="/cliente/buscar/" role="button" style="background-color:#204d74;">Buscar Cliente</a>
{% endblock %}