{% extends 'base.html' %}

{% block content %}

<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


    <h1><b>Proveedores Disponibles</b></h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    <table class="table table-sm table-light">
    <thead class="thead-dark" >
      <tr>
        <th scope="col" style="background-color:#204d74;">Proveedor</th>
        <th scope="col" style="background-color:#204d74;">Correo</th>
      </tr>
    </thead>

    {% for proveedor in proveedores %}
    <tbody>
    <tr>
        <!--<td><a class="card-title">{{ proveedor.id }}</td> -->
        <td><a class="card-link" href="/proveedor/{{ proveedor.id }}/">{{ proveedor.nombre }}</td>
        <td><a class="card-text">{{ proveedor.email_proveedor }}</td>
    </tr>
    </tbody>
    {% endfor %}
    </table>
        </div>
    </div>
    <br>
  </br>
    <a class="btn btn-secondary btn-lg" href="/proveedor/create/" role="button" style="background-color:#204d74;">Agregar Proveedor</a>
    <a class="btn btn-secondary btn-lg" href="/proveedor/buscar/" role="button" style="background-color:#204d74;">Buscar Proveedor</a>
{% endblock %}