{% extends 'base.html' %}

{% block content %}

<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


    <h1><b>Proveedores Disponibles</b></h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    {% for proveedor in proveedores %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{ proveedor.id }}</h5> 
                <p class="card-text">{{ proveedor.nombre }}</p>
                
                <a href="/proveedor/{{ proveedor.id }}/" class="card-link">Detalle</a>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <a class="btn btn-secondary btn-lg" href="/proveedor/create/" role="button" style="background-color:#204d74;">Agregar Proveedor</a>
    <a class="btn btn-secondary btn-lg" href="/proveedor/buscar/" role="button" style="background-color:#204d74;">Buscar Proveedor</a>
{% endblock %}