{% extends 'base.html' %}


{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


    <form method="POST" action="/despunte/buscar/detalles/">
        {% csrf_token %}
        <div class="container">
            <h2><b>Ingrese Las Medidas Del Trabajo</b></h2>
            <div class="row">
            <div class="col-xs-2">
            <br/>
            <label><b>Nombre de Material</b></label>
            <input class="typeahead form-control" type="text" placeholder="Buscar Nombre...." name="nombre" id="nombre">
            <label><b>Largo</b></label>
            <input class="typeahead form-control" type="text" placeholder="Buscar Largo...." name="largo" id="largo">
            <label><b>Ancho</b></label>
            <input class="typeahead form-control" type="text" placeholder="Buscar Ancho...." name="ancho" id="ancho">
            <label><b>Espesor</b></label>
            <input class="typeahead form-control" type="text" placeholder="Buscar Espesor...." name="espesor" id="espesor">
            </div>
            </div>
        </div>
        <td colspan="2">
            <!--<input type="submit"> -->
            <br>
            <button type="submit" class="btn btn-secondary btn-lg" style="background-color:#204d74">Enviar</button>
            <a class="btn btn-secondary btn-lg" href="/despuntes/" role="button" style="background-color:#204d74;">Volver</a>
        </td>
    </form>
<!--<div class="jumbotron">

    <ul class="list-group">
        <li class="list-group-item">Ancho(milimetro):   {{despunte.ancho}}</li>
        <li class="list-group-item">Largo(milimetro):   {{despunte.largo}} </li>
        <li class="list-group-item">Espesor(milimetro):     {{despunte.espesor}} </li>
      </ul>
</div> -->
{% endblock %}