{% extends 'base.html' %}

{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>

<div class="jumbotron">
    <h1 class="display-4">{{herramienta.nombre}}</h1>
    <hr class="my-4">
    <a class="btn btn-secondary btn-lg" href="/herramienta/{{ herramienta.id }}/update" role="button" style="background-color:#204d74;">Actualizar</a>
    <a class="btn btn-secondary btn-lg" href="/herramienta/{{ herramienta.id }}/delete" role="button" style="background-color:#204d74;">Borrar</a>
    <a class="btn btn-secondary btn-lg" href="/herramientas/" role="button" style="background-color:#204d74;">Volver</a>

</div>
{% endblock %}