{% extends 'base.html' %}

{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


    <h1><b>Herramientas Disponibles</b></h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
<table class="table table-sm table-light">
  <thead class="thead-dark" >
    <tr>
      <th scope="col" style="background-color:#204d74;">ID</th>
      <th scope="col" style="background-color:#204d74;">Nombre</th>
      <th scope="col" style="background-color:#204d74;">Marca</th>
      <th scope="col" style="background-color:#204d74;">Unidad de Medida</th>
      <th scope="col" style="background-color:#204d74;">Medida</th>
      <th scope="col" style="background-color:#204d74;">Cantidad</th>
      <th scope="col" style="background-color:#204d74;">Fecha</th>
      </th>
    </tr>
  </thead>
    {% for herramienta in herramientas %}
    <tbody>
    <tr>

      <td>{{ herramienta.id }}</td>
      <td><a href="/herramienta/{{ herramienta.id }}/" class="card-link">{{ herramienta.nombre }}</a></td>
      <td>{{ herramienta.marca }}</td>
      <td>{{ herramienta.umedida }}</td>
      <td>{{ herramienta.medida }}</td>
      <td>{{ herramienta.cantidad }}</td>
      <td>{{ herramienta.fecha }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
        
            </div>
        </div>
    
        </div>
    </div>
    <br>
  </br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="btn btn-secondary btn-lg" href="/herramienta/create/" role="button" style="background-color:#204d74;">Agregar Herramienta</a>
{% endblock %}