{% extends 'base.html' %}

{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


<div class="jumbotron">
    <h1 class="display-4">{{material.nombre}}</h1>
    <p class="lead">ID: {{material.id}}</p>
    <hr class="my-4">
    <p>Ancho:   {{material.ancho}} milímetros</p>
    <p>Largo:   {{material.largo}} milímetros</p>
    <p>Espesor:     {{material.espesor}} milímetros</p>
    <p>Cant:    {{material.cantidad}} </p>
    <a class="btn btn-secondary btn-lg" href="/material/{{ material.id }}/update" role="button" style="background-color:#204d74;">Actualizar</a>
    <a class="btn btn-secondary btn-lg" href="/material/{{ material.id }}/delete" role="button" style="background-color:#204d74;">Borrar</a>
    <a class="btn btn-secondary btn-lg" href="/materiales/" role="button" style="background-color:#204d74;">Volver</a>
</div>
{% endblock %}