{% extends "base.html" %}

{% block content %}

<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>


    <h1><b>Cotizaciones Gminox</b></h1>
    <br>
    <p>
        <a href="{% url 'uploadcotizacion' %}" class="btn btn-secondary btn-lg" style="background-color:#204d74;">Subir Cotizacion</a>
    </p>

    <table class="table table-sm table-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="background-color:#204d74;">Número</th>
                <th scope="col" style="background-color:#204d74;">Cliente</th>
                <th scope="col" style="background-color:#204d74;">Descargar</th>
            </tr>
        </thead>
        <body>
            {% for cotizacion in cotizaciones %}
                <tr>
                    <td>{{ cotizacion.NumeroCotizacion}}</td>
                    <td>{{ cotizacion.Cliente }}</td>
                    <td>
                        <a href="{{ cotizacion.pdf.url }}" class="btn btn-secondary btn-sm" target="_blank" style="background-color:#204d74;">
                            Descargar PDF
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </body>
    </table>
{% endblock %}