{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{despunte.nombre}}</h1>
    <hr class="my-4">
    <p>Ancho(milimetro):   {{despunte.ancho}} </p>
    <p>Largo(milimetro):   {{despunte.largo}} </p>
    <p>Espesor(milimetro):     {{despunte.espesor}} </p>
    <a class="btn btn-secondary btn-lg" href="/despunte/{{ despunte.id }}/update" role="button">Actualizar</a>
    <a class="btn btn-secondary btn-lg" href="/despunte/{{ despunte.id }}/delete" role="button">Borrar</a>
</div>
{% endblock %}