{% extends 'base.html' %}

{% block content %}
    <h1>Equipos de Protección Personal Disponibles</h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    {% for epp in epps %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{ epp.identificador }}</h5> 
                <p class="card-text">{{ epp.nombre }}</p>
                <p>Cant:    {{epp.cantidad}} </p>
                
                <a href="/epp/{{ epp.identificador }}/" class="card-link">Actualizar/Borrar</a>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <a class="btn btn-secondary btn-lg" href="/epp/create/" role="button">Agregar epp</a>
{% endblock %}