{% extends "base.html" %}





{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
	{% load static %}

<head>
	<title>
		<font color="black">
			Bienvenido al Sistema de Gestión de GMINOX
		</font>
	</title>
</head>
<body background="{% static "images/frontis.jpg" %}" background-repeat: no-repeat;>
</body>




<h1 background-image="" ><font color="black"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bienvenido al Sistema de Gestión de GMINOX</b></font></h1>
<br/>
{% if not user.is_authenticated %}
    <p><font color="black"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usted no es un usuario atenticado, porfavor inicie sesión o regístrese</p></b></font>
{% endif %}




{% endblock %}


