{% extends "base.html" %}

{% block content %}
<h1>&nbsp;&nbsp;&nbsp;&nbsp;Bienvenido al Sistema de Control de Inventario GMINOX</h1>
<br/>
<br/>
{% if not user.is_authenticated %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usted no es un usuario atenticado, porfavor inicie sesión o regístrese</p>
{% endif %}

<a class="logo" href="#">
	<img src="https://pbs.twimg.com/media/D9y4ymcXsAANSYl.png" alt="GMINOX" style="display:block; margin-left:auto; margin-right:auto;"></a>
{% endblock %}