{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{material.nombre}}</h1>
    <p class="lead">ID: {{material.id}}</p>
    <hr class="my-4">
    <p>Ancho(milimetro):   {{material.ancho}} </p>
    <p>Largo(milimetro):   {{material.largo}} </p>
    <p>Espesor(milimetro):     {{material.espesor}} </p>
    <p>Cant:    {{material.cantidad}} </p>
    <a class="btn btn-secondary btn-lg" href="/material/{{ material.id }}/update" role="button">Actualizar</a>
    <a class="btn btn-secondary btn-lg" href="/material/{{ material.id }}/delete" role="button">Borrar</a>
</div>
{% endblock %}