{% extends 'base.html' %}

{% block content %}
    <h1>Materiales Disponibles</h1>
    <div class="container">
        <div class="row mt-5 justify-content-center">
    {% for material in materiales %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{ material.id }}</h5> 
                <p class="card-text">{{ material.nombre }}</p>
                
                <a href="/material/{{ material.id }}/" class="card-link">Detalle</a>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <a class="btn btn-secondary btn-lg" href="/material/create/" role="button">Agregar Material</a>
{% endblock %}