{% extends 'base.html' %}
{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/frontis.jpg" %}" background-repeat: no-repeat;>
</body>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Regístrese Aquí</h4>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button types="submit" class="btn btn-secondary btn-block" style="background-color:#204d74;">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}