{% extends "base.html" %}

{% block content %}
<style>
 body {
  background-repeat: no-repeat;
  background-size: 100%;
} 

</style>
  {% load static %}
<body background="{% static "images/taller.jpeg" %}" background-repeat: no-repeat;>
</body>

    <h1><b>Facturas de Compra Gminox</b></h1>
    <br>
    <p>
        <a href="{% url 'uploadfacturacompra' %}" class="btn btn-secondary btn-lg" style="background-color:#204d74;">Subir Factura</a>
    </p>

    <table class="table table-sm table-light">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="background-color:#204d74;">Proveedor</th>
                <th scope="col" style="background-color:#204d74;">Número</th>
                <th scope="col" style="background-color:#204d74;">Fecha Emisión</th>
                <th scope="col" style="background-color:#204d74;">Monto Neto</th>
                <th scope="col" style="background-color:#204d74;">Monto Iva</th>
                <th scope="col" style="background-color:#204d74;">Monto total</th>
                <th scope="col" style="background-color:#204d74;">Descargar</th>
            </tr>
        </thead>
        <body>
            {% for factura in facturascompra %}
                <tr>
                    <td>{{ factura.Proveedor }}</td>
                    <td>{{ factura.NumeroFactura}}</td>
                    <td>{{ factura.Fecha}}</td>
                    <td>{{ factura.Monto}} </td>
                    <td>{{ factura.Iva }} </td>
                    <td>{{ factura.Total}} </td>
                    <td>
                        <a href="{{ factura.pdf.url }}" class="btn btn-secondary btn-sm" target="_blank" style="background-color:#204d74;">
                            Descargar PDF
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </body>
    </table>
{% endblock %}